@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width:100%;
    height:100%;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #CFF;
}

#context{
}
#title {
    font-family: "仿宋", "宋体";
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    color: #000;
    margin: 4px;
}
#stuname {
    font-size: 12px;
}
#stunum {
    font-size: 12px;
}
#title {
    text-align: center;
}
#neirong{
}
#stulogin{
    width:30%;
    height: 30%;
}
#techlogin{
    width:30%;
    height: 30%;
}

