@import url(https://fonts.googleapis.com/css?family=Roboto);


html, body {
    width:100%;
<<<<<<< HEAD
    height: 100%;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: beige;
}

#bighead {
    width: 300px;;
    height:45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    font-family: "微软雅黑";
    font-size: 36px;
    text-align: center;
    color: black;
    background-color: yellow;
}

#name{
    width: 160px;;
    height:30px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
    background-color: lawngreen;
}

#number{
    width: 160px;;
    height:30px;
    font-size: 20px;
    margin-top: auto;
    margin-right: auto;
    background-color: lawngreen;
}
#button{
    width: 50px;
    height: 20px;
    margin-bottom: 20px;
    float: right;
    margin-left: auto;

}
=======
    height:100%;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #CFF;
}

#context{
}
#title {
    font-family: "仿宋", "宋体";
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    color: #000;
    margin: 4px;
}
#stuname {
    font-size: 12px;
}
#stunum {
    font-size: 12px;
}
#title {
    text-align: center;
}
#neirong{
}
#stulogin{
    width:30%;
    height: 30%;
}
#techlogin{
    width:30%;
    height: 30%;
}

>>>>>>> origin/master
