@import url(https://fonts.googleapis.com/css?family=Roboto);




table {
    text-align: left;
    border-spacing: 5px 15px;
    border: 1px;

}

table td{
    border:solid #888888 1px;
background-color: #888888;
}
body  {

    background-color: #f0f0f0;

}

#content{
    background-image: url(beijing1.jpg);
    background-repeat: no-repeat;
    background-position: top;

}

h1 {
    font-family: "华文中魏";
   font-size:30px ;

    color: firebrick;
}
#output {
    font-family: "华文楷体";
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    color: darkorange;

}
#return_button{
    width: 100px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    margin-left: auto;

}
section {
   display:none;
    width: 1100px;
    height: 400px;
    border: solid 1px #888;
}
section.selected {
    display: block;

}
a:link{
    text-decoration: none;
    color: darkorange;
   font-weight: lighter;
    border-color: whitesmoke;

}
a:hover{
    text-decoration: none;
    color: darkorange;
    font-weight: bolder;
    border-color: whitesmoke;
}

